<!-- Loader div -->
<div *ngIf="isPageLoading" class="overlayloader">
    <div class="loader"></div>
</div>

<div class="card">
    <!-- /.login-logo -->
    <div class="login-box-body card-block">
        <div class="text-center forgotpswd">
        <h2>Change Password </h2>
        </div>
        <form role="form" #changepasswordForm="ngForm" (ngSubmit)="submit()">
            <div class="text-center" *ngIf="errMessage">
                <span class="text-danger">
                    {{errMessage}}
                </span>
            </div>
            <div class="form-group has-feedback">
                <label>Old password</label>
                <input type="password" id="currentPassword" name="currentPassword" class="form-control" [(ngModel)]="user.currentPassword" (ngModelChange)="errMessage=''" #currentPassword="ngModel" autofocus required>

                <li *ngIf="currentPassword.errors && currentPassword.touched">
                    <span class="text-danger" [hidden]="!currentPassword.errors.required">Current password is required.</span>
                </li>
              
            </div>
            <div class="form-group has-feedback">
                <label>New password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="user.newPassword" (ngModelChange)="errMessage=''" #newPassword="ngModel" required minlength="8">
            
                <li *ngIf="newPassword.errors && newPassword.touched">
                    <span class="text-danger" [hidden]="!newPassword.errors.required">New password is required.</span>
                    <span class="text-danger" [hidden]="!newPassword.errors.minlength">Minimum 8 character</span>
                </li>
              
            </div> 
            <div class="form-group has-feedback">
                <label>Confirm password</label>
                <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="user.confirmPassword" (ngModelChange)="errMessage=''" #confirmPassword="ngModel"  required validateEqual="newPassword">
                
                <li *ngIf="confirmPassword.errors && confirmPassword.touched ">
                    <span class="text-danger" [hidden]="!confirmPassword.errors.required">Confirm password is required.</span>
                     <span class="text-danger" [hidden]="confirmPassword.pristine && !changepasswordForm.submitted">Password does not match</span>
                </li>                
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-12">
                    <button type="submit" class="btn btn-success btn-flat" [disabled]="!changepasswordForm.valid">Submit</button>
                </div>
            </div>

        </form>
    </div>
    <!-- /.login-box-body -->
</div>
